* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

*.js linguist-detectable=false
*.javascript linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
*.php linguist-detectable=false
*.laravel linguist-detectable=true
